form.form  {
  max-width: 1200px;
  margin: auto;
}

.form input, .form textarea, .form label, .form select {
  width: 100%;
}

.form label {
  height: 3em;
  text-align: center;
  padding: 0.4rem 0.5rem;
}

.form textarea {
  height: 100%;
}

.form div {
  /*border: 1px solid black;*/
}
