.form {

}

form.form  {
  max-width: 1200px;
  margin: auto;
}

.form fieldset {
  width: 100%;
  text-align: center;
}

.form input, .form textarea, .form label {
  width: 100%;
}

.form textarea {
  height: 100%;
}

.form .text-center {
  text-align: center;
}
.form div {
  /*border: 1px solid black;*/
}