form {
  max-width: 1200px;
  margin: auto;
}

fieldset {
  width: 100%;
  text-align: center;
}

input, textarea, label {
  width: 100%;
}
textarea {
  height: 100%;
}

.modal .card {
  max-width: 800px;
  background: #1c2529;
}

.text-center {
  text-align: center;
}
div {
  /*border: 1px solid black;*/
}