.interview-guidelines {

}

.interview-guidelines label {
  width: 1.5rem;
  color: #d0d0d0;
  cursor: pointer;
}

.interview-guidelines label.modal-link {
  text-decoration: underline;
}

.interview-guidelines .modal .card {
  max-width: 800px;
  background: #1c2529;
}