.s-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(12, calc(100% / 12 - 0px));
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}

.s-grid .s-row-span-1 {
    grid-row-end: span 1;
}

.s-grid .s-row-span-2 {
    grid-row-end: span 2;
}

.s-grid .s-row-span-3 {
    grid-row-end: span 3;
}

.s-grid .s-row-span-4 {
    grid-row-end: span 4;
}

.s-grid .s-row-span-5 {
    grid-row-end: span 5;
}

.s-grid .s-row-span-6 {
    grid-row-end: span 6;
}

.s-grid .s-row-span-7 {
    grid-row-end: span 7;
}

.s-grid .s-row-span-8 {
    grid-row-end: span 8;
}

.s-grid .s-row-span-9 {
    grid-row-end: span 9;
}

.s-grid .s-row-span-10 {
    grid-row-end: span 10;
}

.s-grid .s-row-span-11 {
    grid-row-end: span 11;
}

.s-grid .s-row-span-12 {
    grid-row-end: span 12;
}

.s-grid .s-col-1 {
    grid-column-end: span 1;
}

.s-grid .s-col-2 {
    grid-column-end: span 2;
}

.s-grid .s-col-3 {
    grid-column-end: span 3;
}

.s-grid .s-col-4 {
    grid-column-end: span 4;
}

.s-grid .s-col-5 {
    grid-column-end: span 5;
}

.s-grid .s-col-6 {
    grid-column-end: span 6;
}

.s-grid .s-col-7 {
    grid-column-end: span 7;
}

.s-grid .s-col-8 {
    grid-column-end: span 8;
}

.s-grid .s-col-9 {
    grid-column-end: span 9;
}

.s-grid .s-col-10 {
    grid-column-end: span 10;
}

.s-grid .s-col-11 {
    grid-column-end: span 11;
}

.s-grid .s-col-12 {
    grid-column-end: span 12;
}

.s-grid [class^="s-col-"], .s-grid [class*=" s-col-"] {
    box-sizing: border-box;
    grid-row-start: auto;
    grid-column-start: auto;
}

.s-grid .s-col-full {
    grid-column-end: span 12;
}

.s-grid [class^="s-content-"], .s-grid [class*=" s-content-"] {
    display: flex;
}

.s-grid .s-content-vertical {
    flex-direction: column;
}

.s-grid .s-content-top:not(.s-content-vertical) {
    align-items: flex-start;
}

.s-grid .s-content-top.s-content-vertical {
    justify-content: flex-start;
}

.s-grid .s-content-right:not(.s-content-vertical) {
    justify-content: flex-end;
}

.s-grid .s-content-right.s-content-vertical {
    align-items: flex-end;
}

.s-grid .s-content-bottom:not(.s-content-vertical) {
    align-items: flex-end;
}

.s-grid .s-content-bottom.s-content-vertical {
    justify-content: flex-end;
}

.s-grid .s-content-left:not(.s-content-vertical) {
    justify-content: flex-start;
}

.s-grid .s-content-left.s-content-vertical {
    align-items: flex-start;
}

.s-grid .s-content-center.s-content-top:not(.s-content-vertical), .s-grid .s-content-center.s-content-bottom:not(.s-content-vertical) {
    justify-content: center;
}

.s-grid .s-content-center.s-content-top.s-content-vertical, .s-grid .s-content-center.s-content-bottom.s-content-vertical {
    align-items: center;
}

.s-grid .s-content-center.s-content-right:not(.s-content-vertical), .s-grid .s-content-center.s-content-left:not(.s-content-vertical) {
    align-items: center;
}

.s-grid .s-content-center.s-content-right.s-content-vertical, .s-grid .s-content-center.s-content-left.s-content-vertical {
    justify-content: center;
}

.s-grid .s-content-center:not(.s-content-top):not(.s-content-right):not(.s-content-bottom):not(.s-content-left) {
    align-items: center;
    justify-content: center;
}

.s-grid .s-content-center-horizontal:not(.s-content-vertical) {
    justify-content: center;
}

.s-grid .s-content-center-horizontal.s-content-vertical {
    align-items: center;
}

.s-grid .s-content-center-vertical:not(.ss-ontent-vertical) {
    align-items: center;
}

.s-grid .s-content-center-vertical.s-content-vertical {
    justify-content: center;
}

@media (min-width: 0) {
    .s-grid .s-hidden-xs-up {
        display: none;
    }
    .s-grid .s-visible-xs-up {
        display: flex;
    }
}

@media (max-width: 575px) {
    .s-grid .s-hidden-xs-down {
        display: none;
    }
    .s-grid .s-visible-xs-down {
        display: flex;
    }
}

@media (min-width: 576px) {
    .s-grid .s-row-sm-span-1 {
        grid-row-end: span 1;
    }
    .s-grid .s-row-sm-span-2 {
        grid-row-end: span 2;
    }
    .s-grid .s-row-sm-span-3 {
        grid-row-end: span 3;
    }
    .s-grid .s-row-sm-span-4 {
        grid-row-end: span 4;
    }
    .s-grid .s-row-sm-span-5 {
        grid-row-end: span 5;
    }
    .s-grid .s-row-sm-span-6 {
        grid-row-end: span 6;
    }
    .s-grid .s-row-sm-span-7 {
        grid-row-end: span 7;
    }
    .s-grid .s-row-sm-span-8 {
        grid-row-end: span 8;
    }
    .s-grid .s-row-sm-span-9 {
        grid-row-end: span 9;
    }
    .s-grid .s-row-sm-span-10 {
        grid-row-end: span 10;
    }
    .s-grid .s-row-sm-span-11 {
        grid-row-end: span 11;
    }
    .s-grid .s-row-sm-span-12 {
        grid-row-end: span 12;
    }
    .s-grid .s-col-sm-1 {
        grid-column-end: span 1;
    }
    .s-grid .s-col-sm-2 {
        grid-column-end: span 2;
    }
    .s-grid .s-col-sm-3 {
        grid-column-end: span 3;
    }
    .s-grid .s-col-sm-4 {
        grid-column-end: span 4;
    }
    .s-grid .s-col-sm-5 {
        grid-column-end: span 5;
    }
    .s-grid .s-col-sm-6 {
        grid-column-end: span 6;
    }
    .s-grid .s-col-sm-7 {
        grid-column-end: span 7;
    }
    .s-grid .s-col-sm-8 {
        grid-column-end: span 8;
    }
    .s-grid .s-col-sm-9 {
        grid-column-end: span 9;
    }
    .s-grid .s-col-sm-10 {
        grid-column-end: span 10;
    }
    .s-grid .s-col-sm-11 {
        grid-column-end: span 11;
    }
    .s-grid .s-col-sm-12 {
        grid-column-end: span 12;
    }
    .s-grid .s-col-sm-full {
        grid-column-end: span 12;
    }
    .s-grid .s-hidden-sm-up {
        display: none;
    }
    .s-grid .s-visible-sm-up {
        display: flex;
    }
}

@media (max-width: 767px) {
    .s-grid .s-hidden-sm-down {
        display: none;
    }
    .s-grid .s-visible-sm-down {
        display: flex;
    }
}

@media (min-width: 768px) {
    .s-grid .s-row-md-span-1 {
        grid-row-end: span 1;
    }
    .s-grid .s-row-md-span-2 {
        grid-row-end: span 2;
    }
    .s-grid .s-row-md-span-3 {
        grid-row-end: span 3;
    }
    .s-grid .s-row-md-span-4 {
        grid-row-end: span 4;
    }
    .s-grid .s-row-md-span-5 {
        grid-row-end: span 5;
    }
    .s-grid .s-row-md-span-6 {
        grid-row-end: span 6;
    }
    .s-grid .s-row-md-span-7 {
        grid-row-end: span 7;
    }
    .s-grid .s-row-md-span-8 {
        grid-row-end: span 8;
    }
    .s-grid .s-row-md-span-9 {
        grid-row-end: span 9;
    }
    .s-grid .s-row-md-span-10 {
        grid-row-end: span 10;
    }
    .s-grid .s-row-md-span-11 {
        grid-row-end: span 11;
    }
    .s-grid .s-row-md-span-12 {
        grid-row-end: span 12;
    }
    .s-grid .s-col-md-1 {
        grid-column-end: span 1;
    }
    .s-grid .s-col-md-2 {
        grid-column-end: span 2;
    }
    .s-grid .s-col-md-3 {
        grid-column-end: span 3;
    }
    .s-grid .s-col-md-4 {
        grid-column-end: span 4;
    }
    .s-grid .s-col-md-5 {
        grid-column-end: span 5;
    }
    .s-grid .s-col-md-6 {
        grid-column-end: span 6;
    }
    .s-grid .s-col-md-7 {
        grid-column-end: span 7;
    }
    .s-grid .s-col-md-8 {
        grid-column-end: span 8;
    }
    .s-grid .s-col-md-9 {
        grid-column-end: span 9;
    }
    .s-grid .s-col-md-10 {
        grid-column-end: span 10;
    }
    .s-grid .s-col-md-11 {
        grid-column-end: span 11;
    }
    .s-grid .s-col-md-12 {
        grid-column-end: span 12;
    }
    .s-grid .s-col-md-full {
        grid-column-end: span 12;
    }
    .s-grid .s-hidden-md-up {
        display: none;
    }
    .s-grid .s-visible-md-up {
        display: flex;
    }
}

@media (max-width: 991px) {
    .s-grid .s-hidden-md-down {
        display: none;
    }
    .s-grid .s-visible-md-down {
        display: flex;
    }
}

@media (min-width: 992px) {
    .s-grid .s-row-lg-span-1 {
        grid-row-end: span 1;
    }
    .s-grid .s-row-lg-span-2 {
        grid-row-end: span 2;
    }
    .s-grid .s-row-lg-span-3 {
        grid-row-end: span 3;
    }
    .s-grid .s-row-lg-span-4 {
        grid-row-end: span 4;
    }
    .s-grid .s-row-lg-span-5 {
        grid-row-end: span 5;
    }
    .s-grid .s-row-lg-span-6 {
        grid-row-end: span 6;
    }
    .s-grid .s-row-lg-span-7 {
        grid-row-end: span 7;
    }
    .s-grid .s-row-lg-span-8 {
        grid-row-end: span 8;
    }
    .s-grid .s-row-lg-span-9 {
        grid-row-end: span 9;
    }
    .s-grid .s-row-lg-span-10 {
        grid-row-end: span 10;
    }
    .s-grid .s-row-lg-span-11 {
        grid-row-end: span 11;
    }
    .s-grid .s-row-lg-span-12 {
        grid-row-end: span 12;
    }
    .s-grid .s-col-lg-1 {
        grid-column-end: span 1;
    }
    .s-grid .s-col-lg-2 {
        grid-column-end: span 2;
    }
    .s-grid .s-col-lg-3 {
        grid-column-end: span 3;
    }
    .s-grid .s-col-lg-4 {
        grid-column-end: span 4;
    }
    .s-grid .s-col-lg-5 {
        grid-column-end: span 5;
    }
    .s-grid .s-col-lg-6 {
        grid-column-end: span 6;
    }
    .s-grid .s-col-lg-7 {
        grid-column-end: span 7;
    }
    .s-grid .s-col-lg-8 {
        grid-column-end: span 8;
    }
    .s-grid .s-col-lg-9 {
        grid-column-end: span 9;
    }
    .s-grid .s-col-lg-10 {
        grid-column-end: span 10;
    }
    .s-grid .s-col-lg-11 {
        grid-column-end: span 11;
    }
    .s-grid .s-col-lg-12 {
        grid-column-end: span 12;
    }
    .s-grid .s-col-lg-full {
        grid-column-end: span 12;
    }
    .s-grid .s-hidden-lg-up {
        display: none;
    }
    .s-grid .s-visible-lg-up {
        display: flex;
    }
}

@media (max-width: 1199px) {
    .s-grid .s-hidden-lg-down {
        display: none;
    }
    .s-grid .s-visible-lg-down {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .s-grid .s-row-xl-span-1 {
        grid-row-end: span 1;
    }
    .s-grid .s-row-xl-span-2 {
        grid-row-end: span 2;
    }
    .s-grid .s-row-xl-span-3 {
        grid-row-end: span 3;
    }
    .s-grid .s-row-xl-span-4 {
        grid-row-end: span 4;
    }
    .s-grid .s-row-xl-span-5 {
        grid-row-end: span 5;
    }
    .s-grid .s-row-xl-span-6 {
        grid-row-end: span 6;
    }
    .s-grid .s-row-xl-span-7 {
        grid-row-end: span 7;
    }
    .s-grid .s-row-xl-span-8 {
        grid-row-end: span 8;
    }
    .s-grid .s-row-xl-span-9 {
        grid-row-end: span 9;
    }
    .s-grid .s-row-xl-span-10 {
        grid-row-end: span 10;
    }
    .s-grid .s-row-xl-span-11 {
        grid-row-end: span 11;
    }
    .s-grid .s-row-xl-span-12 {
        grid-row-end: span 12;
    }
    .s-grid .s-col-xl-1 {
        grid-column-end: span 1;
    }
    .s-grid .s-col-xl-2 {
        grid-column-end: span 2;
    }
    .s-grid .s-col-xl-3 {
        grid-column-end: span 3;
    }
    .s-grid .s-col-xl-4 {
        grid-column-end: span 4;
    }
    .s-grid .s-col-xl-5 {
        grid-column-end: span 5;
    }
    .s-grid .s-col-xl-6 {
        grid-column-end: span 6;
    }
    .s-grid .s-col-xl-7 {
        grid-column-end: span 7;
    }
    .s-grid .s-col-xl-8 {
        grid-column-end: span 8;
    }
    .s-grid .s-col-xl-9 {
        grid-column-end: span 9;
    }
    .s-grid .s-col-xl-10 {
        grid-column-end: span 10;
    }
    .s-grid .s-col-xl-11 {
        grid-column-end: span 11;
    }
    .s-grid .s-col-xl-12 {
        grid-column-end: span 12;
    }
    .s-grid .s-col-xl-full {
        grid-column-end: span 12;
    }
    .s-grid .s-hidden-xl-up {
        display: none;
    }
    .s-grid .s-visible-xl-up {
        display: flex;
    }
}

.s-grid .s-hidden-xl-down {
    display: none;
}

.s-grid .s-visible-xl-down {
    display: flex;
}